@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  overscroll-behavior: none;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-track{
  background: #555;
}

::-webkit-scrollbar-thumb:hover{
  background: #242424;
}
